#title {
  background-color: #ff4c68;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Monstserrat-Bold', sans-serif;
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold";
  font-size: 2.0rem;
  font-weight: 1000;
}
 h4{
   color: white;
 }

p {
  color: grey;
}

.container-fluid {
  padding: 3% 15%
}

/* NAVIGATION BAR */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  width: 10%;
}

.brand-logo {
  width: 15%;
  background-color: #ff4c68;
}

.padding {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: white;
  font-size: 1.0rem;
}

/* DOWNLOAD BUTTONS */
.download-button {
  margin: 40px 0 0 0;
}

/* IPHONE IMAGE */
.iphone-image {
  width: 80%;
  /* transform: rotate(25deg); */
  margin: 0 200px;
}

/* FEATURE BOX */
#features {
  padding: 7% 12%;
}

.featuress {
  text-align: center;
}

.icon {
  margin-bottom: 20px;
}

.icon:hover {
  color: #ff4c68;
}

/* TESTEMONIALS SECTION */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
padding: 7% 12%;
}
/* PRESS */
#press{
  background-color: #ef8172;
  text-align: center;
}

.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}
/* PRICING SECTION */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding-top: 80px;
}

/* CTA */
#cta{
  text-align: center;
  background-color: #212A3E;
  color:white;
  padding-bottom: 100px;
}

/* GET IN TOUCH */

#git{
  background-color: #212A3E;
  color: white;
  padding-bottom: 100px;
}


/* CONTACT ME */


.contact-me{
  text-align: center;
}

.btngit{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btngit:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

#footer{
  background-color: #212A3E;
  color: white;
  text-align: center;
  font-size: 1.3rem;
}
